/*Fonts*/
@import
	url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@100;300;400;500;700&display=swap")
	;
html, body {
    background-color: #EDF2FD;
    font-family: "Roboto", sans-serif;
}
/*Answer circles*/
.panel {
	display: inline-flex;
	width: 100%; /*Size of element will be same as parent element*/
	min-width: 200px;
	flex-direction: row; /*This makes element in one row*/
	align-items: center; /*This will center it*/
	/*justify-content: center; align flex items center inside the container - but we dont need it bcs
	our items will be allways centered bcs of margin auto */
}
.statistic_circle {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	position: relative;
	border: 1px solid black;
	margin: auto;
}

/*Navigation bar*/
.blob {
	position: static;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	padding-right: 4px;
	padding-left: 24px;
}

.firstblob {
	padding-left: 24px;
}

.main-container {
    max-width: 1200px;
    width: 70%;
    background-color: #FAFAFA;
    border-radius: 24px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 136px auto;
}

.page-header {
    position: relative;
    top: -55px;
    left: 10px;
    font-size: 24px;
    padding-bottom: 8px;
    padding-left: 24px;
}

.container-profile {
    padding: 32px 24px;
    width: 90%;
    font-size: 18px;
}

.profile-row {
    padding-top: -24px;
    padding-bottom: 20px;
}

#candidate-name {
    padding-bottom: 16px;
    font-size: 36px;
}

.profile-row label {
    font-weight: bold;
    margin-right: 15px;
    padding: 1px;
}
.profile-row span {
    font-weight: normal;
}

.profile-row span {
    display: inline;
}

.bio-textfields {
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 12px;
}
#password-textField, #email-textField {
    margin-top: 20px;
}

.profile-textarea {
    border: 1px solid black;
    border-radius: 12px;
}

.container-profile-image {
    width: 90%;
    display: inline-block;
    position: relative;
    margin-top: 50px;
}

.profile-image {
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 24px;
}

#candidate-number, .candidate-number-input {
    position: absolute;
    right: 30px;
    bottom: -25px;
    height: 125px;
    width: 125px;
    background-color: #FDFFA4;
    border: 1px solid #898C8F;
    box-sizing: border-box;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    font-weight: bold;
}

.candidate-number-input {
    text-align: center;
}

.file-form {
    margin-top: 55px;
    position: relative;
    left: 30px;
    width: 80%;
}

.file-form::-webkit-file-upload-button {
    background-color: #3D5A80;
    color: white;
    outline: none;
    cursor: pointer;
  }

.file-form::-webkit-file-upload-button:hover, .file-form::-webkit-file-upload-button:focus {
    color: black;
    border-color: white;
    outline: none;
}


hr {
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    padding: 1px 0;
    background-color: black;
}

.tooltip {
  position: relative;
  display: inline-block;
  opacity: 100;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 250px;
  background-color: #f4f4f8;
  color: black;
  border-radius: 6px;
  padding: 10px;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  border: 1px solid black;

  /* Position the tooltip */
  position: absolute;
  z-index: 3;
}

.bi-info-circle {
	color: #3D5A80;
	margin-bottom: 50%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.container-answer-mark {
    display: flex;
    justify-items: center;
    align-items: center;
}


.answer-radio {
    position: absolute;
    left: -9999px;
}


.answer-mark {
    height: 36px;
    width: 36px;
    background-color: #eee;
    border: 1px solid #000000;
    border-radius: 50%;
    margin-right: auto;
}

.answer-radio:checked + label {
    background-color: #3D5A80;
}

.answer-radio:hover + label:hover {
    cursor: pointer;
}


.selected-answer-mark {
    background-color: #3D5A80;
}

.question-row-hr {
    margin: 20px auto 20px auto ;
    width: 60%;
}



.container-button {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 50px;
}

.btn {
    position: relative;
    width: 175px;
    margin-right: 50px;
    color: white;
    border-radius: 24px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-update {
    background-color: #3D5A80;
}

.btn-delete {
    background-color: #EE6C4D;
}

.btn-reset {
	background-color: #ffc845;
}

#btn-save, #btn-no {
    background-color: rgb(131, 184, 78);
}

#btn-yes, #btn-no {
    width: 130px;
    
}

#btn-yes {
    background-color: rgb(238, 80, 80);
}

.row-confirm-delete {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    margin-bottom: 15px;
}

.row-confirm-delete label{
    margin-bottom: 10px;
}




@media (max-width: 1078px) {
    #password-textField, #email-textField {
        width: 275px;
    }
}

@media (max-width: 992px) {
    .main-container {
        width: 90%;
    }
    .main-profile-row {
        flex-direction: column-reverse;
    }
    .profile-image-col {
        display: grid;
        justify-content: center;
    }
    .container-profile-image {
        width: 100%;
        margin-top: 0px;
    }
    .profile-image {
        width: auto;
        max-height: 400px;
    }
    #candidate-number {
        bottom: -5px;
        right: 30px;
    }
    .file-form {
        margin-top: 50px;
        position: relative;
        left: 30px;
    }
    #password-textField, #email-textField {
        width: 270px;
    }
}

@media (max-width: 768px) {
    .main-container {
        width: 95%;
    }
    .btn {
        width: 150px;
        margin-right: 20px;
        font-size: 0.9rem
    }

}

@media (max-width: 576px) {
    .container-profile-bio {
        margin: 5px;
        width: 90%;
        font-size: 24px;
    }

}

@media (max-width: 551px) {
	.container-button {
	    flex-direction: column-reverse;
    	align-items: flex-end;
	}
	.btn {
		margin-bottom: 25px;
	}
}
@media (max-width: 466px) {
    .container-profile {
        font-size: 16px;
    }
    .profile-image {
        margin: 0;
        max-height: 300px;
    }

    #candidate-number, .candidate-number-input {
        height: 100px;
        width: 100px;
        bottom: -10px;
        font-size: 36px;
    }

    .btn {
        font-size: 14px;        
    }

}


@media (max-width: 392px) {
    .container-profile {
        width: 100%;
        padding: 16px 12px !important;
        font-size: 14px;
    }
    .container-profile-bio {
        margin: 5px;
        width: 100%;
        font-size: 24px;
    }
    .profile-page-text {
        padding: 16px 0px;
    }


    .btn-update, #btn-save {
        margin-bottom: 20px;
    }
    .bio-textfields {
        width: 200px;
    }

    #candidate-number, .candidate-number-input {
        height: 100px;
        width: 100px;
    }
    #password-textField, #email-textField {
        width: 200px;
    }
    .file-form {
        width: 70%;
    }

}


.hide, .hide-row {
    display: none !important;
    visibility: hidden;
}